@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Quicksand', sans-serif;
}
a,span,p,input{
	font-family: 'Roboto', sans-serif;
}
.header{
	width: 100%;
	background: #fff;
	padding: 20px;   
}
.header span{
	padding: 1px;
    font-weight: 600;
    font-size: 28px; 
}
.banner{
	width: 100%;
}
.container{
	width: 1140px;
	margin: 0 auto;
	text-align: center;

}
.container h1{
	padding:20px;

}
.row{
	width: 100%;
	float: left;
	margin: 83px 21px;
	
}
.col-3{
	width: 33.3%;
	float: left;
	
}
.col-3 span{
	font-weight: 600;
	font-size: 20px;
}
.col-3 p{
	padding: 14px;

	}


.col-4 {
    width: 33.3%;
    float: left;
    height: 132px;
    background: #fff;
    padding: 68px 180px;
}
.col-4 img{
	height: 90px;
}

.col-4 span{
	font-weight: 600;
	font-size: 20px;
}
.col-4 p{
	padding: 14px;


	}


.col-5 {
    width: 33.3%;
    float: left;
    height: 173px;
    
    padding: 33px 180px;
}

.col-5 img{
	height: 90px;
}

.col-5 span{
	font-weight: 600;
	font-size: 20px;
}
.col-5 p{
	padding: 14px;


	}



	
